
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
}



header img{
    width: 10rem;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.06rem 9%;
    background: transparent;
}
.navlist{
    display: flex;
}
.navlist a{
    color: white;
    margin-left: 3.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease ;
}
.navlist a:hover{
    border-bottom: 2px solid white;
}
#menu-icon{
    color: white;
    font-size: 2rem;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: #e52d27;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.hero-text h5{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 2.5rem;
}
.hero-text h1{
    font-size: 4.7rem;
    line-height: 1;
    color: white;
    margin: 0 0 2.5rem;
}
.hero-text p{
    color: white;
    font-size: 1rem;
    line-height: 1.9;
    margin-bottom: 2.5rem;
}
.hero-img img{
    width: 43rem;
    height: auto;
}
.hero-text a{
    display: inline-block;
    color: white;
    background: #820f0f;
    border:  1px solid transparent;
    padding: 0.75rem 2rem;
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2rem;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(6px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 1.25rem;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 0.31rem;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
    color: white;
    transition: all .50s ease;
}

.icons i:hover{
    color: #820f0f;
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    color: white;
    display: block;
    padding: 0.75rem;
    font-size: 2rem;
    background: #820f0f;
    border-radius: 2rem;
    transition: all .50s ease;
}
 i:hover{
    transform: translateY(-5px);
}
@media (min-width: 3840px){
    header img{
        width: 20rem;
    }
    .navlist a{
        font-size: 2rem;
    }
    .hero-img img{
        width: 90rem;
        height: auto;
    }
    .hero-text h5{
        font-size: 5rem;
    }
    .hero-text h1{
        font-size: 9.2rem;
    }
    .hero-text p{
        font-size: 2rem;
        line-height: 1.5;
    }
    .hero-text a{
        padding: 1.5rem 6rem;
        font-size: 2rem;
    }
    .icons i{
        display: block;
        margin: 2rem 0;
        font-size: 4rem;
        color: white;
        transition: all .50s ease;
    }
    
}
@media (max-width: 1535px){
    header{
        padding: 1rem 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .hero-img{
        width: 100%;
        height: auto;
    }
    .hero-text h1{
        font-size: 4.6rem;
        margin: 0 0 2rem;
    }
    .hero-text h5{
        margin-bottom: 1.5rem;
    }
}
@media (max-width: 1280px){
    .hero-img img{
        width: 35rem;
        height: auto;
    }
    .hero-text h1{
        font-size: 3rem;
        margin: 0 0 2rem;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 7.18rem;
    }
    .hero-img{
        text-align: center;
    }
    .hero-img img{
        width: 35rem;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1em;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }

}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 12rem;
        height: 30vh;
        margin-right: 1rem;
        background: #820f0f;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50px 20px;
        transition: all .55s ease;
        border-radius: 2rem;
    }
    .navlist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navlist.open{
        right: 0;
    }
    .hero-img img{
        width: 30rem;
        height: auto;
    }
}
@media (max-width: 680px){
    .hero-img img{
        width: 18rem;
        height: auto;
    }
    .hero-text h1{
        font-size: 3rem;
    }
}